/*.nav-bar {
    width: 100%;
    background-color: red;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a {
    text-decoration: none;
}
.nav-bar div {
    height: 100%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar div:hover {
    background-color: rgba(123, 234, 250, 0.5)
}*/
nav {
    font-size: 20px;
}